/* @override
	http://firebrand-media.com/css/firebrand.css
	http://firebrand-media.com/css/firebrand-media.css */

/*
Title:		Master styles for screen media
Author: 	gbrad@firebrand-media.com
*/

html {
	-webkit-text-size-adjust:	none;
}

body, h1, h2, h3, h4, h5, h6 p, ul, li, a, input, strong {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.125em; /* 16×1.125=18 */
	color: #414b4e;
}

.win body, h1, h2, h3, h4, h5, h6 p, ul, li, a, input, strong {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 100%;
	line-height:1.125em; /* 16×1.125=18 */
}

body {
	padding: 0;
	width: 100%;
	margin: 0;
	background: #fff url(/images/overlays/01.gif) repeat left top;
}

.win p {
	font-family: arial;
}

a:link {
	text-decoration: none;
	border-bottom: 1px dotted;
	-webkit-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	transition:color .2s ease-in;
}

a:visited {
	text-decoration: none;
	border-bottom: none;
}

a:hover {
	color: #EE4535;
	text-decoration: none;
	border-bottom: 1px solid;
}

#bg {
	position:fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height:200%;
	z-index: -1;
}

#bg img {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
    z-index: -1;
}
/*#bg .overlay {
	background: transparent url(images/overlays/01.gif);
	opacity:0.9;
	z-index:-1;
}*/


/* page structure
--------------------------------------------- */

/* header and Navigation
--------------------------------------------- */

#header_wrapper {
	font-size: .875em; /* 14px / 16px */
	width: 100%;
	min-width: 1100px;
	padding: 10px 0 15px 0;
	background: #263441 url(/images/ui/background_header_bottom.png) bottom right repeat-x;
	position: relative;
}

#header {
	width: 1024px;
	min-width: 1024px;
	margin: 0 auto;
	opacity: 1.0;
}

#header a:link {
	color: #667C82;
	border-bottom: none;
	-webkit-transition:color .2s ease-in;
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    transition:color .2s ease-in;
}

/* CSS3 Link Transition - http://net.tutsplus.com/tutorials/html-css-techniques/css-fundametals-css-3-transitions/ */

#header a:visited {
	color: #667C82;
}

#header a:hover {
	color: #fff;
}

#navigation {
	width: 600px;
	float: right;
	padding: 5px 0 8px 50px;
}

#navigation ul {
	padding: 5px 0 0 0;
	text-align: right;
}

#navigation li {
	display: inline;
	padding: 20px 10px 17px 5px;
	border-right: 1px solid #667C82;
}

#navigation li.last {
	display: inline;
	padding: 0 7px 0px 5px;
	border-right: none;
}

#logo {
	width: 250px;
	float: left;
}

#logo h1 {
	padding: 0;
	margin: 0;
}

#logo a:hover {
	border-bottom: none;
}

/* Homepage Specific Styling */

#about_us {
	width: 1100px;
	margin: 0 auto;
	color: #fff;
}

#about_us p {
	margin: 0 0 0 20px;
	padding: 20px 0;
	text-align: center;
	font:bold 2.0em/1.1em "octin-stencil-1","octin-stencil-2",sans-serif;
	text-shadow:0 0 3px #3f3c3c;
}

#about_us a:link {
	font-family:"octin-stencil-1","octin-stencil-2",sans-serif;
	font-weight:bold;
	color: #fff;
	text-shadow:0 0 3px #3f3c3c;
}

#about_us a:visited {
	font-family:"octin-stencil-1","octin-stencil-2",sans-serif;
	font-weight:bold;
	color: #fff;
	text-shadow:0 0 3px #3f3c3c;
}

#about_us a:hover {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight:bold;
	color: #fff;
	text-shadow:0 0 3px #3f3c3c;
}

#homepage_content {
	width: 100%;
	margin: 10% 0 0 0;
	bottom: 0px;
	position: relative;
}

#homepage_featured_project {
	background-color: #fff;
	width: 320px;
	padding: 10px 0 0 0;
	margin: 0 0 5% 65%;
	border-top: 2px solid #667C82;
	border-bottom: 5px solid #667C82;
	-o-box-shadow: 0px 3px 5px #444;
	-moz-box-shadow: 0px 3px 5px #444;
	-webkit-box-shadow: 0px 3px 5px #444;
	box-shadow: 0px 3px 5px #444;
	z-index: 1;
}

#homepage_featured_project h2 {
	font-weight:bold;
	width: 290px;
	padding: 0 0 9px 30px;
	border-bottom: 1px dotted #263441;
	display:block;
}

#homepage_featured_project i.icon-left-open {
	margin: -3px 0 0 30px;
	padding: 0;
	float: left;
}

#homepage_featured_project h3 {
	font-weight: bold;
	color: #fff;
	padding: 0 0 9px 0px;
	margin: 0 -10px 0 -42px;
	border-bottom: 1px dotted #86979C;
	text-align: center;
	font-size: .875em; /* 14px / 16px */
}


#homepage_featured_project p:first-of-type {
	margin: 10px 0 0 0;
}

#homepage_featured_project p {
	padding: 6px 20px 6px 30px;
	text-align: ;
	font-size: .875em; /* 14px / 16px */
}

.homepage_recent {
	background-color: #263441;
	padding: 10px 10px 10px 43px;
	margin: 15px 0 0 0;
}

.homepage_recent ul {
	padding: 5px 0 0 0;
}

.homepage_recent li {
	font-size: .875em; /* 14px / 16px */
	padding: 4px 0;
	line-height: 1.3em;
	color: #fff;
}

.homepage_recent a:link {
	color: #fff;
	-webkit-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-o-transition:color .2s ease-in;
	transition:color .2s ease-in;
}

.homepage_recent a:visited{
	color: #fff;
}

.homepage_recent a:hover {
	color: #FFEF1F;
}

#footer_homepage {
	padding: 0;
	color: white;
	font-size:.75em; /* 12px / 16px */
	z-index: 1;
}

/* Entry Styling */

#entry {
	width: 990px;
	margin: 0 auto;
	padding: 30px 0 0 0px;
	font-size: .875em; /* 14px / 16px */
}

.win #entry {
	font-family: arial;
	font-weight: normal;
}

#entry p {
	margin: 10px 0;
	padding: 25px;
	line-height: 1.5em;
	text-align: justify;
	background-color: #fff;
}

#entry blockquote {
	background-color: #fff;
    color: #EE4541;
	margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 2em;
    border-right: 5px solid #EE4541;
    border-left: 5px solid #EE4541;
	padding: 20px 40px;
	text-align: center;
    font-family: "quatro-1","quatro-2",sans-serif;
}

#entry blockquote a:link {
	border-bottom: none;
	font-weight: bold;
    font-family: "quatro-1","quatro-2",sans-serif;
}

#entry blockquote a:visited {
	border-bottom: none;
	font-weight: bold;
    font-family: "quatro-1","quatro-2",sans-serif;
}

#entry blockquote a:hover {
	font-weight: bold;
    font-family: "quatro-1","quatro-2",sans-serif;
}

#entry blockquote p {
	padding: 0;
}

#entry h3 {
	background-color: #263441;
	color: #fff;
	padding: 11px;
	margin: 10px 10px 10px -25px;
	border-left: 10px solid #667C82;
	font-size: 1.125em; /* 18px / 16px */
	font-weight: bold;
	display: inline;
}

#entry .img_right {
	float: right;
	padding: 20px 0 20px 20px;
	margin: 20px -50px 20px 20px;
	background: #fff url(/images/overlays/01.gif) repeat left top;
}

#entry .img_center {
	padding: 20px;
	display: block;
	margin: 20px auto;
	background: #fff;
}

#entry .img_left {
	float: left;
	padding: 20px;
	margin: 20px 20px 20px -25px;
	background: url(/images/overlays/01.png) repeat left top;
}

#image_gallery {
	padding: 5px 0 10px 0;
}

#entry .right {
	float: right;
	padding: 20px;
	margin: 25px -60px 5px 10px;
	background-color: #fff;
	list-style-image: none;
	list-style: none;
}

#entry .right em {
	float: left;
	margin: 310px -210px -10px 0px;
}

#entry .left {
	float: left;
	padding: 20px;
	margin: 25px 10px 5px -60px;
	background-color: #fff;
	list-style-image: none;
	list-style: none;
}

#entry .left em {
	float: right;
	margin: 310px 0 -10px -450px;
}


#entry .small {
	width: 50%;
	height: 50%;
}


#entry ul {
	margin: 10px 0;
	padding: 5px 0;
	background-color: #fff;
}

#entry li {
	padding: 3px;
	margin: 5px 40px 5px 80px;
	line-height: 1.5em;
	list-style-image: url(/images/ui/bullet_li.png);
}

#entry .location {
	list-style-image: url(/images/li/map_li_dark.png);
}

#entry .phone {
	list-style-image: url(/images/li/phone_li_dark.png);
}

#entry .fax {
	list-style-image: url(/images/li/fax_li_dark.png);
}

#entry .email {
	list-style-image: url(/images/li/email_li_dark.png);
}

#entry .twitter{
	list-style-image: url(/images/li/twitter_li_dark.png);
}

#entry .delicious {
	list-style-image: url(/images/li/delicious_li_dark.png);
}

#entry .facebook {
	list-style-image: url(/images/li/facebook_li_dark.png);
}

#entry .linkedin{
	list-style-image: url(/images/li/linkedin_li_dark.png);
}

#entry .inthepanhandle {
	list-style-image: url(/images/li/inthepanhandle_li_dark.png);
}

#entry .flickr {
	list-style-image: url(/images/li/flickr_li_dark.png);
}

#entry .google_local {
	list-style-image: url(/images/li/google_local_li_dark.png);
}

#entry .bbb {
	list-style-image: url(/images/li/bbb_li_dark.png);
}

#entry .ember {
	list-style-image: url(/images/li/ember_li_dark.png);
}

#entry .downloads {
	list-style-image: url(/images/ui/download_img.png);
}

#comments h3 {
	background-color: #EE4535;
	color: #fff;
	padding: 11px;
	margin: 10px 10px 10px -25px;
	border-left: 10px solid #667C82;
	font-size: 1.125em; /* 18px / 16px */
	font-weight: bold;
	display: inline;
}

#comments h4 {
	background-color: #EE4535;
	color: #fff;
	padding: 11px;
	margin: 10px 10px 10px -25px;
	border-left: 10px solid #667C82;
	font-size: 1.125em; /* 18px / 16px */
	font-weight: bold;
	display: inline;
}

#comments p.add_comment {
	background-color: #BDC6C8;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 0;
}

#comments p.add_comment a:link {
	border-bottom: none;
	font-weight: bold;
}

#entry input, textarea {
	border: 1px solid #BDC6C8;
	padding: 5px 5px;
	color: #BDC6C8;
	font-size: .85em;
}

#entry textarea {
	width: 60%;
}

#entry input:focus, textarea:focus {
	border: 1px solid #263441;
	padding: 5px 5px;
	color: #263441;
}

#entry radio {
	border: none;
	padding: 3px 5px;
	background: url(/images/ui/background_textarea.gif) top left repeat-x;
}

#entry label {
	padding: 0 35px 0 25px;
	margin: 0;
	float: left;
	width: 28%;
	font-weight: bold;
}

#entry abbr {
	color: #FF5533;
	padding: 0 0 0 10px;
	font-style: italic;
}

#entry form {
	color: #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 0 20px 0;
}

#entry form p {
	padding: 8px 0;
	margin: 0;
	border-top: 1px dotted #BDC6C8;
}

#entry form p.form_note {
	padding: 10px 23px;
	border-bottom: 1px solid #EAEAEA;
	margin: 0;
	color: #797979;
	background: #eaeaea;
}

#entry .checkboxes {

}

#entry form h2 {
	font-size: 2em;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#entry form img {
	margin: 0 0 0 3px;
}

#entry p.submit {
	padding: 20px;
}

#entry .btn {
	color: #fff;
	background-color: #EE4535;
	border: none;
	padding: 10px 25px;
	margin: 0 0 0 25px;
	font-weight: bold;
}

#entry .btn:hover {
	color: #263441;
	background-color: #FFEF1F;
	border: none;
	font-weight: bold;
}

/* Comments Formatting*/

form#comment_form {
	padding: 0;
	margin: 0;
}

#comments {
	background: none;
}

#comments .error {
	text-align: center;
	color: #EE4535;
}

#entry #comments .comment_text p {
	padding: 0 25px;
}

#entry #comments .comment_author {
	padding: 10px 0 10px 50px;
}

#entry #comments ul {
	background: none;
}

#entry #comments li {
	background-color: #fff;
	padding: 3px 0;
	margin: 0;
	line-height: 1.5em;
	list-style-image: none;
}


#entry .comment_text blockquote {
	color: #667C82;
	background: none;
	background-color: #E9E9E9;
	padding: 0;
	margin: 15px;
	border: 1px dotted #BDC6C8;
	font: italic 100% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#entry .comment_text blockquote p {
	background: none;
}

.gravatar_image {
	border: 1px solid #BDC6C8;
	float: left;
	margin: 0 10px 0 25px;
}

/* Entry Bottom and Top Navigation and supplemental information*/

#entry_supplemental {
	background-color: #fff;
	font-size: .9em;
}

#entry_supplemental ul {
	text-align: center;
}

#entry_supplemental li {
	display: inline;
	padding: 0 7px;
	margin: 0;
}

#entry_supplemental strong {
	font-weight: bold;
}

#entry_navigation {
	background-color: #BDC6C8;
	font-size: .9em;
	border-bottom: 1px solid #BDC6C8;
	margin: 0 0 -10px 0;
}

#entry_navigation ul {
	text-align: center;
}

#entry_navigation li {
	display: inline;
	padding: 0 7px;
	margin: 0;
}

#entry_navigation strong {
	font-weight: bold;
}

#entry_navigation_bottom {
	background-color: #BDC6C8;
	font-size: .9em;
	border-bottom: 1px solid #BDC6C8;
}

#entry_navigation_bottom ul {
	text-align: center;
}

#entry_navigation_bottom li {
	display: inline;
	padding: 0 7px;
	margin: 0;
}

#entry_navigation_bottom strong {
	font-weight: bold;
}


/* footer
--------------------------------------------- */

#footer {
	background: url(/images/ui/background_footer.png) no-repeat left bottom;
	padding: 0 0 200px 0;
	margin: 0;
	color: white;
	font-size: .75em; /* 12px / 16px */
}

#footer_content {
	width: 990px;
	margin: 0 auto 50px auto;
	padding: 0;
	background: url(/images/ui/background_social.png) -147px center no-repeat;
}

#email_footer {
	float: left;
	width: 300px;
	color: #263441;
	padding: 20px;
	margin: 33px 20px 20px 25px;
	background: #FFEF1F;
	border-left: 5px solid #667C82;
}

#email_footer h5 {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-size: 1.2em;
	text-align: left;
	padding: 0 5px 3px 0px;
	margin: 0;
	color: #263441;
	font-weight: bold;
}

#email_footer label {
	padding: 10px 0;
}

#email_footer .txt {
	background-color: #FFEF1F;
	-webkit-appearance: none;
	padding: 3px;
	margin: 0;
	border: none;
	color: #263441;
	font-size: 1.0em;
	border-bottom: 1px dashed #263441;
	text-align: left;
	width: 140px;
}

#email_footer .button {
	color: #263441;
	border: none;
	padding: 5px 8px;
	margin: -25px 0 0 0;
	font-family: "quatro-1","quatro-2",sans-serif;
	float: right;
	font-weight: bold;
	background: none;
}

#footer_contact {
	float: left;
	margin: -2px 0 0 0;
	width: 200px;
	padding: 20px 22px 20px 300px;
	text-align: right;
}

#footer_contact ul {
	padding: 0 10px 0 0;
}

#footer_contact li {
	padding: 3px 0;
}

#footer_contact a:link {
	color: #979797;
	padding: 6px 0 6px 6px;
	border-bottom: none;
}

#footer_contact a:visited {
	color: #979797;
	padding: 6px 0 6px 6px;
	border-bottom: none;
}

#footer_contact a:hover {
	color: #EE4535;
	padding: 6px 0 6px 6px;
	border-bottom: none;
}

#footer_social {
	float: right;
	background-color: #263441;
	margin: 8px 0 0 3px;
	width: 37px;
	padding: 18px 18px 16px 18px;
	border-left: 1px solid #667C82;
}

#footer_social a {
	border-bottom: none;
	text-decoration: none;
}

#footer_social ul {
	padding: 0;
}

#footer_social li {
	display: inline-block;
	padding: 3px 0;
}


/* Recent and Upcoming Content Styles
--------------------------------------------- */

#secondary_content_wrapper {
	width: 1024px;
	color: #fff;
	margin: 10px auto 20px auto;
	font-size: .75em; /* 12px / 16px */
	padding: 0;
}

#recent_content {
	width: 990px;
	margin: 30px 0 30px 18px;
	padding: 15px 0;
	color: #fff;
	background-color: #263441;
}

#recent_content a:link {
	padding: 2px 0;
	color: #fff;
}

#recent_content a:visited {
	padding: 2px 0;
	border-bottom: none;
	color: #fff;
}

#recent_content a:hover {
	color: #FFEF1F;
	padding: 2px 0;
	border-bottom: 1px dotted #FFEF1F;
}

#recent_content h5 {
	padding: 4px 0 4px 28px;
	color: #fff;
	font-weight: bold;
}

#recent_content ul {
	padding: 0 0 5px 28px;
}

#recent_content li {
	padding: 5px 0;
	line-height: 1.6em;
	color: #fff;
}

#upcoming_events {
	width: 220px;
	float: left;
	padding: 0;
	color: #fff;
}

#upcoming_events strong {
	color: #fff;
}

#upcoming_events ul {
	padding: 4px 0 0 30px;
}

#upcoming_events li {
	color: #fff;
	padding: 0;
	margin: 0 0 0 -3px;
}

#upcoming_events i {
	padding: 0;
	margin: 0 0 0 0;
	float: left;
}

#recent_projects {
	width: 220px;
	float: left;
	padding: 0 15px 0 0;
}

#blog {
	width: 220px;
	float: left;
	padding: 0 15px 0 15px;
}

#twitter {
	width: 250px;
	float: right;
	padding: 0 20px 0 0;
}

#twitter p {
	margin: 0;
	padding: 5px 0 0 13px;
}

#twitter img {
	float: right;
	padding: 0 0 4px 4px ;
	margin: -50px -35px;
	background: url(/images/ui/background_twitter_avatar.png) no-repeat left bottom;
}

#twitter h5 {
	padding: 0;
	color: #fff;
	font-weight: bold;
}

.tweet {
	padding: 0 0 0 17px;
}

/* Blog Specific Styles
--------------------------------------------- */

/* Blog Index Page Styles*/

#blog_index {
	width: 990px;
	margin: 0 auto;
	padding: 20px 0 0 30px;
}

#blog_index h3 a:link {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-size: 1.8em;
	text-align: right;
	background: white;
	width: auto;
	color: #414b4e;
	display: inline;
	padding: 8px 10px 0 10px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
}

#blog_index h3 a:visited {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-size: 1.8em;
	text-align: right;
	background: white;
	width: auto;
	display: inline;
	padding: 8px 10px 0 10px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
}


#blog_index h3 a:hover {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-size: 1.8em;
	text-align: right;
	background: white;
	color: #EE4535;
	width: auto;
	display: inline;
	padding: 8px 10px 0 10px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
}

#blog_about h2 {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-size: 2.5em;
	color: white;
	font-weight: bold;
	padding: 0 5px 0 0;
	margin: 0;
	float: left;
}

#blog_featured {
	width: 540px;
	background-color: #fff;
	float: left;
	margin: 0 0 10px 0;
	padding:  0;
}

#blog_featured p {
	padding: 5px 15px 15px 10px;
	line-height: 1.5em;
	min-height: 235px;
	font-size: .875em; /* 14px / 16px */
	background: white;
}

#blog_featured a:link {
	color: #fff;
	background-color: #86979C;
	border-bottom: none;
	border-right: 1px dotted #5A656E;
	padding: 10px 0px 10px 10px;
	margin: 0 -11px 0 ;
	text-decoration: none;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	width: 100%;
	display: inline-block;
}

#blog_featured a:visited {
	color: #fff;
	text-decoration: none;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	border-bottom: none;
	border-right: 1px dotted #5A656E;
	padding: 10px 0px 10px 10px;
	margin: 0 -11px 0 ;
}

#blog_featured a:hover {
	color: #414b4e;
	text-decoration: none;
	padding: 10px 5px;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	border-bottom: none;
	border-right: 1px dotted #5A656E;
	margin: 0 -11px 0 ;
	padding: 10px 0px 10px 10px;
}

#blog_featured_image_graphic {
	width: 450px;
	float: right;
}

.blog_featured_image {
	background: url(/images/ui/background_blog_featured_image.png) no-repeat left top;
	margin: 0 -10px 0 5px;
	padding: 0 0 0 7px;
}

/* Blog Archives and Recent Content Styles*/

#blog_archives {
	width: 965px;
	color: #fff;
	background-color: #5A656E;
	margin: 290px 20px 20px 0;
	padding: 15px 0 25px 15px;
	font-size: .8em;
}

#blog_archives h5 {
	color: #fff;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	padding: 0 0 10px 16px;
}

#blog_archives a:link {
	padding: 2px 0;
	color: #fff;
}

#blog_archives a:visited {
	padding: 2px 0;
	border-bottom: none;
	color: #fff;
}

#blog_archives a:hover {
	color: #FFEF1F;
	padding: 2px 0;
	border-bottom: 1px dotted #FFEF1F;
}

#blog_archives .archives {
	width: 300px;
	float: left;
	padding: 20px 40px 20px 10px;
}

#blog_archives .archives ul {
	padding: 3px 0 3px 20px;
}

#blog_archives .archives li {
	padding: 3px 0;
	line-height: 1.8em;
	color: #fff;
}

#blog_archives .archives p {
	padding: 10px 0 0 20px;
}

#blog_archives .archives strong {
	font-weight: bold;
	color: #BDC6C8;
}

#blog_archives .popular {
	width: 300px;
	float: left;
	padding: 20px 40px 20px 0;
}

#blog_archives .popular ul {
	padding: 3px 0 3px 17px;
}

#blog_archives .popular li {
	padding: 3px 0;
	line-height: 1.8em;
	color: #fff;
}

#blog_archives .popular em {
	font-weight: normal;
	font-style: normal;
	color: #BDC6C8;
	padding: 2px;
	margin: 0 0 0 0;
}


#blog_archives .categories {
	width: 180px;
	padding: 20px 0 0 20px;
	float: left;
}

#blog_archives .categories ul {
	padding: 3px 0 1px 5px;
}

#blog_archives .categories li {
	padding: 1px 0 1px 5px;
	line-height: 1.87em;
	color: #fff;
}

#blog_archives .categories a:link {
	padding: 2px 0;
	color: #fff;
}

#blog_archives .categories a:visited {
	padding: 2px 0;
	border-bottom: none;
	color: #fff;
}

#blog_archives .categories a:hover {
	color: #FFEF1F;
	padding: 2px 0;
	border-bottom: 1px dotted #FFEF1F;
}


#blog_index .flickr {
	color: #263441;
	background: url(/images/ui/background_flickr.png) no-repeat -10px 0px;
	padding: 0;
	margin: 45px 0 40px -10px;
	text-align: center;
}

#blog_index .flickr a {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

/* Portfolio Specific Styles
--------------------------------------------- */

/* Portfolio Project Index & Category Archive Pages */

#project_index {
	width: 1024px;
	margin: 15px 0;
}

#project_index h3 {
	padding: 10px 0 10px 10px;
	color: #fff;
	background-color: #5A656E;
	font-family: "quatro-1","quatro-2",sans-serif;
	margin: 0 2px 0 31px;
	font-weight: bold;
}

#project_featured {
	margin: 0 0 0 31px;
	padding:  0;
}

/*#project_featured img {
	background: url(/images/overlays/01.gif) repeat left top;
	padding: 20px 23px;
	margin: 0;
	border-bottom: none;
}*/

#project_featured .one img {
	float: left;
	border-top: 1px solid #fff;
}

#project_featured .two_a img {
	width: 248px;
	height: 248px;
	float: left;
}

#project_featured .two_b img {
	width: 248px;
	height: 248px;
	margin: 0 0 0 0;
	float: left;
}

#project_featured .three_a img {
	width: 123px;
	height: 123px;
	float: left;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
}

#project_featured .three_b img {
	width: 124px;
	height: 123px;
	float: left;
}

#project_featured .three_c img {
	width: 124px;
	height: 123px;
	float: left;
}

#project_featured .three_d img  {
	width: 124px;
	height: 123px;
	float: left;
}

#project_featured .three_e img {
	width: 124px;
	height: 123px;
	float: left;
}

#project_featured .three_f img {
	width: 124px;
	height: 123px;
	float: left;
}

#project_featured img a:link {
	border-bottom: none;
}

#project_featured img a:visited {
	border-bottom: none;
}

#project_featured img a:hover {
	border-bottom: none;
}

#project_featured img.logo_small {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	/* shadow */
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	/* For IE 8 */
	-ms-filter: none;
	/* For IE 5.5 - 7 */
	filter: none;
	border-bottom: none;
	margin: -8px 0 0-40px;
	padding: 5px;
	float: left;
	background: #FFF;
}

#project_featured li .borderless {
	border-bottom: none;
}

#project_featured .projects {
	width: 250px;
	float: left;
	color: #414b4e;

}

#project_featured .featured_image {
	float: left;
	width: 228px;
	margin: 20px 0;
}

#project_featured .featured_image a {
	border-bottom: none;
}

#project_featured .featured_about {
	float: left;
	padding: 22px 53px 22px 17px;
	width: 165px;
	margin: 20px 0;
	min-height: 180px;
	font-size: 0.85em;
}

#project_featured .featured_about strong {
	font-weight: bold;
}

#project_index h4 {
	background: url(/images/ui/background_h4.png) no-repeat left top;
	padding: 30px 10px 10px 10px;
	color: #fff;
	font-family: "quatro-1","quatro-2",sans-serif;
	margin: 0 -30px 0 0;
	border-bottom: 1px dotted #263441;
}


#project_index .new_media {
	width: 190px;
	float: left;
	padding: 0 30px 0 20px;
	font-size: .8em;
}

#project_index .traditional_media {
	width: 190px;
	float: left;
	padding: 0 25px 0 20px;
	font-size: .8em;
}

#project_index .new_media ul {
	padding: 3px 0 3px 0px;
}

#project_index .new_media li {
	line-height: 1.6em;
	color: #fff;
}

#project_index .traditional_media ul {
	padding: 3px 0 3px 0px;
}

#project_index .traditional_media li {
	line-height: 1.6em;
	color: #fff;
}

#project_index .projects {
	width: 190px;
	float: left;
	padding: 0 30px 0 20px;
	font-size: .8em;
}

#project_index .projects ul {
	padding: 3px 0 3px 0px;
}

#project_index .projects li {
	line-height: 1.6em;
}

.portfolio_hero {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

#clients {
	background-color: #fff;
	margin: 10px 2px 20px 31px;
	padding:  10px 10px 4px 10px;
	text-align: center;
}

#clients img {
	padding: 5px 5px 5px 5px;
}

#portfolio_archives {
	width: 1029px;
	color: #fff;
	background-color: #5A656E;
	margin: 0 0 20px 0px;
	padding: 15px 0 25px 25px;
}

#portfolio_archives a:link {
	padding: 2px 0;
	color: #fff;
}

#portfolio_archives a:visited {
	padding: 2px 0;
	border-bottom: none;
	color: #fff;
}

#portfolio_archives a:hover {
	color: #FFEF1F;
	padding: 2px 0;
	border-bottom: 1px dotted #FFEF1F;
}

#project_index .new_media {
	width: 190px;
	float: left;
	padding: 0 30px 0 20px;
	font-size: .8em;
}

#project_index .traditional_media {
	width: 190px;
	float: left;
	padding: 0 25px 0 20px;
	font-size: .8em;
}

#project_index .new_media ul {
	padding: 3px 0 3px 0px;
}

#project_index .new_media li {
	line-height: 1.6em;
	padding: 3px 0;
}

#project_index .traditional_media ul {
	padding: 3px 0 3px 0px;
}

#project_index .traditional_media li {
	line-height: 1.6em;
	padding: 3px 0;
}

#project_index .web_projects {
	width: 450px;
	float: right;
	padding: 0 20px 0 0;
	font-size: .8em;
}

#project_index .web_projects ul {
	padding: 3px 0 3px 0px;
}

#project_index .web_projects li {
	line-height: 1.6em;
	padding: 3px 0;
	color: #fff;
}

#portfolio_featured {
	width: 994px;
	padding: 0;
	margin: 0 0 0 30px;
	/*border-bottom: 10px solid #5A656E;*/
	/*box-shadow: 0px 3px 5px #444;*/
}

#portfolio_featured .single_image {
	margin: 0 0 5px 0;
}

/* Category li bullet styling based on category */

.featured {
	list-style-image: url(/images/ui/featured_img.png);
}

.graphic_design {
	list-style-image: url(/images/ui/graphic_design_img.png);
}

.marketing {
	list-style-image: url(/images/ui/marketing_img.png);
}

.mobile_apps {
	list-style-image: url(/images/ui/mobile_img.png);
}

.printing {
	list-style-image: url(/images/ui/traditional_media_img.png);
}

.web_design {
	list-style-image: url(/images/ui/web_design_img.png);
}

.web_hosting {
	list-style-image: url(/images/ui/web_hosting_img.png);
}

.blogging {
	list-style-image: url(/images/ui/blogging_img.png);
}

.business_lessons {
	list-style-image: url(/images/ui/business_lessons_img.png);
}

.events {
	list-style-image: url(/images/ui/calendar_img.png);
}

.online_marketing {
	list-style-image: url(/images/ui/online_marketing_img.png);
}

.social_media {
	list-style-image: url(/images/ui/social_media_img.png);
}

.traditional_marketing {
	list-style-image: url(/images/ui/traditional_marketing_img.png);
}

.your_website {
	list-style-image: url(/images/ui/your_website_img.png);
}

#project_index h5 {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	color: #fff;
}


#entry .portfolio_quote {
		background: url(/images/ui/background_bq_alt.png) no-repeat top center;
		color: #EE4541;
		margin: 10px -52px 10px -58px;
		display: inline-block;
		padding: 40px 20px 20px 20px;
		text-align: center;
		font: bold 2.1em/1.1em "octin-stencil-1","octin-stencil-2",sans-serif;
}

#entry .portfolio_quote a {
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
}

/* Services Specific Styles
--------------------------------------------- */

#services_overview {
	margin: 0 0 60px 0;
}

#services_overview h3 {
	background-color: #263441;
	color: #fff;
	padding: 11px 20px 11px 35px;
	/*border-left: 10px solid #fff;*/
	font-size: 1.125em; /* 18px / 16px */
	max-width: 170px;
	font-weight: bold;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */;
	position: relative;
	right: 60px;
	top: 100px;
}

.ie #services_overview h3 {
	background-color: #263441;
	color: #fff;
	padding: 11px 20px 11px 35px;
	/*border-left: 10px solid #fff;*/
	font-size: 1.125em; /* 18px / 16px */
	max-width: 170px;
	font-weight: bold;
	/*transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 *!/
	-moz-transform:rotate(90deg); /* Firefox *!/
	-webkit-transform:rotate(90deg); /* Safari and Chrome *!/
	-o-transform:rotate(90deg); /* Opera *!/;*/
	margin: 0 0 35px 28px;
	right:60px;
	top: 100px;
	clear: right;
	position: static;
}

#services_overview .service_description {
	margin: -34px 0 0 97px;
	font-size: .875em; /* 14px / 16px */
	display: inline-block;
	background-color: #fff;
}

.ie #services_overview .service_description {
	margin: -34px 0 0 27px;
	font-size: .875em; /* 14px / 16px */
	display: inline-block;
	background-color: #fff;
}

#services_overview .service_description p {
	padding: 5px 0;
}

#services_overview .about_service {
	width: 630px;
	float: left;
	padding: 10px 20px;
	border-right: 1px dotted #5A656E;
}

.ie #services_overview .about_service {
	width: 700px;
	float: left;
	padding: 10px 20px;
	border-right: 1px dotted #5A656E;
}

#services_overview .about_service:first-line {
	font-weight: bold;
}

#services_overview .projects_list {
	width: 250px;
	float: left;
	padding: 12px 0 10px 0;
	background-color: #fff;
	border-right: 5px solid #5A656E;
}

#services_overview .projects_list h4 {
	font-weight: bold;
	color: #263441;
	background-color: #fff;
	/*border-right: 5px solid #5A656E;*/
	padding: 5px 10px 5px 13px;
}

#services_overview .projects_list ul {
	padding: 5px 7px;
}

#services_overview .projects_list li {
	float: left;
	padding: 0;
	margin: 5px;
	border: 3px solid #91969D;
}

#services_overview .projects_list img {
	padding: 0;
	margin: 0 0 -2px;
}

#services_overview .projects_list a {
	border-bottom: none;
}

/* Universal Content Styles
--------------------------------------------- */

#entry_title {
	width: 100%;
	min-width: 1100px;
	background-color: #fff;
	border-bottom: 5px solid #263441;
}

#entry_title h2 {
	font-size: 2em;
	font-family: "quatro-1","quatro-2",sans-serif;
	font-weight: bold;
	padding: 10px 25px 10px 25px;
	width: 990px;
	margin: 0 auto;
    color: #273442;
	/*border-bottom: 5px solid #667C82;*/
}

#entry_title i {
	float: right;
}

#entry_title img {
	margin: 0;
	float: right;
}

#content {
	width: 1024px;
	margin: 20px auto;
}

#author_details {
	border-top: 7px solid #667C82;
	background-color: #fff;
	padding: 10px 0;
}

#author_details ul {

}

#author_details li {
	padding: 5px 0;
	margin: 0;
	background: none;
	line-height: 1.2em;
	border-left: none;
	list-style-image: none;
}

.author_image {
	float: left;
	padding: 20px 20px 20px 0;
	margin: 19px 20px 20px -32px;
	background: #fff url(/images/overlays/01.gif) repeat left top;}


.welcome_image {
	padding: 0 0 0 30px;
}

.caption {
	font-weight: bold;
	font-style: italic;
	margin: 0 0 -80px 40px;
	padding: 20px 20px 30px 0;
	font-size: 2.5em; /* 24px / 16px */
	float: right;
	position: relative;
	color: #fff;
}

.the-icons {
    list-style: none outside none;
    margin-left: 0;
    padding: 0 10px 0 0;
}

.edit_this {

}

/* self-clear floats */

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

/* Honeepot Captcha */

.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}

/* iPads (landscape) ----------- */
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

#homepage_featured_project {
	background-color: #fff;
	width: 320px;
	padding: 10px 0 0 0;
	margin: 0 0 5% 65%;
	border-top: 2px solid #667C82;
	border-bottom: 5px solid #667C82;
	-o-box-shadow: 0px 3px 5px #444;
	-moz-box-shadow: 0px 3px 5px #444;
	-webkit-box-shadow: 0px 3px 5px #444;
	box-shadow: 0px 3px 5px #444;
	z-index: 1;
}

}*/


